@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tarayıcının varsayılan boşluklarını sıfırla */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #f8f8f7; /* Bizim açık renk arka planımız */
}